<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, method: :delete %>
  <% else %>
      <%= button_to "Sign in with Facebook", facebook_login_path, method: :get %>
  <% end %>
</div>