<h1>Get started by adding a car to your Garage</h1>

<form id="vin-lookup">
  <span class='form-label'>Find your vehicle by its VIN:</span></br>
  <input type='text', name='vin', placeholder='2G1FC3D33C9165616'></input>
  <input type="submit" value="Find Car", id="vin-submit">
</form>

<div class="search-result-placeholder">
</div>

<div class="temp-garage-placeholder">
  <h1>My Garage</h1>
</div>