<div class="car-card">
  <h3><%= "#{car.year} #{car.make} #{car.model}" %></h3>
  <p><%= "Engine: #{car.displacement} Liter, #{car.cylinders} Cylinder, #{car.fuel_type}" %></p>
  <p><%= "Transmission: #{car.speeds} speed, #{car.transmission}" %></p>
</div>